.btn-container {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    color: #594adc;
    font-weight: 700;
    justify-content: space-around;
}
