<section id="category">
    <p>Category</p>
    <ul>
        <li><a class="active-category" href="#">T-Shirt</a></li>
        <li><a href="#">Sweat Shirt</a></li>
        <li><a href="#">Dress</a></li>
        <li><a href="#">Pants & Skirts</a></li>
        <li><a href="#">Swinsuit</a></li>
        <li><a href="#">Stuff & Accessories</a></li>
    </ul>
</section>

<section id="filter-container">
    <ng-content/>
    <ng-content select="colour"/>
    <ng-content select="size"/>
    <ng-content select="price"/>
</section>

<section>
    <button btnApply></button>
    <p btnApply>Delete</p>
</section>