.item {
    display: flex;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 40px;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    margin: 12px 0;
    p{
        margin-left: 12px;
    }
    img{
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
}    