
.item {
    display: flex;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 40px;
    margin-top: 20px;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    p{
        margin-left: 12px;
    }
    img{
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
}
