.main-container {
    display: grid;
    grid-template-columns: 1.1fr 7fr;
    grid-template-rows: auto auto;
    gap: 1px; 
    background-color: #ececec; 
}

.main-container > * {
    background-color: white; 
    padding: 2px;
}

app-logo {
    height: 10vh;
}

app-filter{
    height: 86vh;
    overflow-y: auto;
    scrollbar-width: none;
}
