<div class="sidebar-container">
    <section class="title">
        <p class="ltitle">{{ lTitle }}</p>
        <p class="rtitle">{{ rTitle }}</p>
    </section>
    
    <section class="sidebarItems-container">
        @for (item of sidebars; track item.iconName) {
            <div class="item-container">
                <i [class]="item.iconName"></i>
                <p>{{ item.navName }}</p>
            </div>
        }
    </section>
    
    <section class="userItem">
        <img src="img-4.jpg" alt="User Image" class="userImage">
        <div class="userInfo">
            <p class="userName">{{userName}}</p>
            <p class="userPosition">{{position}}</p>
        </div>
    </section>
</div>
