.job-container {
    height: calc(100% - 2vw);
    .detail-job-container {
        overflow: auto;
        height: 80%;
    }
    .detail-job-container::-webkit-scrollbar {
        width: 1px; 
        height: 5px; 
    }
    .detail-job-container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .detail-job-container::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 10px; 
    }
    .detail-job-container::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    .searchbar {
        margin: auto;
        width: 80%;
        height: 3vw;
        background-color: #fff;
        display: flex;
        border-radius: 3vw;
        justify-content: space-between;
        overflow: hidden;
        margin-top: 2vw;
        input {
            width: 80%;
            height: 3vw;
            outline: none;
            border: none;
            font-size: 1.4vw;
            margin-left: 1.6vw;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        div {
            line-height: 3vw;
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: end;
            i{
                font-size: 1.5vw;
                color: #5c6089;
            }

            .bx-search-alt-2 {
                background-color: #5060ff;
                height: 100%;
                line-height: 3vw;
                width: 40%;
                margin-left: 0.5vw;
                padding-left: 0.8vw;
                color: #fff;
            }
        }
    }
}